.p-button-primary-light {
  background-color: var(--primary-color);
  color: #fff;
}

.p-button-secondary-light {
  background-color: var(--button-text);
  color: var(--primary-color);
}

.p-button-secondary-light:hover {
  background-color: var(--light-grey) !important;
  color: var(--primary-color) !important;
  border-color: var(--light-grey) !important;
}

.p-button-primary-dark {
  background-color: var(--primary-color);
  color: #fff;
}

.p-button-secondary-dark {
  background-color: var(--white);
  color: var(--primary-color);
}

.p-button-secondary-dark:hover {
  background-color: var(--lines-light) !important;
  color: var(--primary-color) !important;
  border-color: var(--lines-light) !important;
}

.noBorder {
  border-color: transparent;
}
